// show form on specific radio button click
//1-> https://codepen.io/chriscoyier/pen/LEGXOK
//2-> http://jsfiddle.net/LbrCf/
//3-> https://stackoverflow.com/questions/65800158/how-to-validate-a-text-input-based-on-radio-selected-and-if-visible
//4-> https://jsfiddle.net/solodev/dpo07Ly5/



<html>
<head></head>
<body>
   https://developer.okta.com/blog/2019/01/15/crud-app-laravel-vue

   //Observers 
   https://blog.quickadminpanel.com/log-your-laravel-model-data-changes-with-observers/
  //in axios.js for log in
   
   import Vue from 'vue'
import axios from 'axios'

axios.defaults.baseURL = 'http://application.local'
Vue.prototype.$axios = axios

axios.defaults.withCredentials = true;
var token = localStorage.getItem('uat')
axios.defaults.headers.common.Authorization = `Bearer ${token}`
   
// quasar login with token link is here    https://www.youtube.com/channel/UCJLGFWQfHhE9ENHHqgMXiow   

https://blog.codecourse.com/setting-up-laravel-sanctum-airlock-for-spa-authentication-with-vue/
   https://www.codecheef.org/article/laravel-working-with-json-table-column-example
   8.42.1
   namespace App\Http\Controllers;

use App\Http\Requests\EditUserRequest;
use App\Http\Requests\UserRequest;
use App\Models\Role;
use App\Models\User;
use Illuminate\Http\Request;
use Illuminate\Support\Facades\Auth;
use Illuminate\Support\Facades\Hash;
use PhpParser\Node\Stmt\Foreach_;
   
   //store user request
   <?php

namespace App\Http\Requests;

use Illuminate\Foundation\Http\FormRequest;

class UserRequest extends FormRequest
{
    /**
     * Determine if the user is authorized to make this request.
     *
     * @return bool
     */
    public function authorize()
    {
        return true;
    }

    /**
     * Get the validation rules that apply to the request.
     *
     * @return array
     */
    public function rules()
    {
        return [
            //
            'name' => 'required|string|max:255',
            'email' => 'required|string|email|max:255|unique:users',
            'password' => 'string|min:8|confirmed',
            'role'=>'required|min:1',
            'password_confirmation'=>'min:8'
        ];
    }
}

   //edit user 
   public function rules()
    {
        return [
            //
            'name' => 'required|string|max:255',
            'email' => 'required|string|email|max:255',
            'password' => 'string|min:8|confirmed|nullable|confirmed',
            'role'=>'required',
            'password_confirmation'=>'min:8|nullable|same:password'
        ];
    }

Route::group(['middleware' => 'role:admin|super_admin|author'], function() {

    Route::GET('/admin', [AdminController::class, 'index'])->name('admin.index');
// admin categories
    Route::GET('/admin/categories', [CategoriesController::class, 'index'])->name('admin.categories.index')->middleware(['permission:can_view_categories']);
    Route::GET('/admin/category/create', [CategoriesController::class, 'create'])->name('admin.categories.create')->middleware(['permission:can_add_categories']);
    Route::POST('/admin/category', [CategoriesController::class, 'store'])->name('admin.categories.store');
    Route::GET('/admin/category/{id}/edit', [CategoriesController::class, 'edit'])->name('admin.categories.edit')->middleware(['permission:can_edit_categories']);
    Route::PUT('/admin/category/{id}', [CategoriesController::class, 'update'])->name('admin.categories.update');
    Route::Delete('/admin/category/{id}', [CategoriesController::class, 'delete'])->name('admin.categories.delete')->middleware(['permission:can_delete_categories']);
    Route::GET('/search/category',[CategoriesController::class, 'searchCategory'])->name('categories.search');

//admin posts

    Route::GET('/admin/posts', [PostsController::class, 'index'])->name('admin.posts.index')->middleware(['permission:can_view_posts']);
    Route::GET('/admin/post/create', [PostsController::class, 'create'])->name('admin.posts.create')->middleware(['permission:can_add_posts']);
    Route::POST('/admin/post', [PostsController::class, 'store'])->name('admin.posts.store');
    Route::GET('/admin/post/{id}/edit', [PostsController::class, 'edit'])->name('admin.posts.edit')->middleware(['permission:can_edit_posts']);
    Route::PUT('/admin/post/{id}', [PostsController::class, 'update'])->name('admin.posts.update');
    Route::Delete('/admin/post/{id}', [PostsController::class, 'delete'])->name('admin.posts.delete')->middleware(['permission:can_delete_posts']);
    Route::GET('/search/post',[PostsController::class, 'searchPost'])->name('posts.search');
//Admin Users
    Route::GET('/admin/users',[UserController::class,'index'])->name('admin.users.index')->middleware(['permission:can_view_users']);
    Route::GET('/admin/user/create', [UserController::class, 'create'])->name('admin.users.create')->middleware(['permission:can_add_users']);
    Route::POST('/admin/user', [UserController::class, 'store'])->name('admin.users.store');
    Route::GET('/admin/user/{id}/edit', [UserController::class, 'edit'])->name('admin.users.edit')->middleware(['permission:can_edit_users']);
    Route::PUT('/admin/user/{id}', [UserController::class, 'update'])->name('admin.users.update');
    Route::Delete('/admin/user/{id}', [UserController::class, 'delete'])->name('admin.users.delete')->middleware(['permission:can_delete_users']);
    Route::GET('/admin/user/{id}',[UserController::class,'show'])->name('admin.users.show')->middleware(['permission:can_view_users']);
    Route::GET('/search/user',[UserController::class, 'searchUser'])->name('users.search');

});

//show post by category
//Route::GET("/category/{id}/posts");
Route::GET('/category/{id}/posts',[PostsController::class,'showByCategory'])->name('category.post.show');



//quasar 

main layout
<template>
  <q-layout view="hHh lpR ffr">
    <q-header elevated class="text-light">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title @click="$router.replace('/')" style="cursor: pointer">
        Inventory System
        </q-toolbar-title>

<!--        <div ref="logout" style="cursor: pointer">-->
<!--          <span>Welcome {{ name }}</span>-->
<!--          <br/>-->
<!--          <div class="text-center"><span v-if="isBusinessUser"> {{businessName}}</span></div>-->
<!--          <q-menu :target="$refs.logout">-->
<!--            <div class="row no-wrap q-pa-md">-->
<!--              <div class="col-md-12">-->
<!--                <q-btn flat label="My Account" icon="person" @click="editProfile"/>-->
<!--                <q-btn flat label="Logout" icon="logout" @click="logout"/>-->
<!--              </div>-->
<!--            </div>-->
<!--          </q-menu>-->
<!--        </div>-->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          MAIN MENU
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import EssentialLink from 'components/EssentialLink.vue'
  export default {
    name: 'MainLayout',
    components: { EssentialLink },
    data () {
      return {
        leftDrawerOpen: false,
        essentialLinks: [
          {
            title: 'Categories',
            icon: 'widgets',
            link: { path: '/categories' },
          },
          {
            title:'Attributes',
            icon:'widgets',
            link:{path:'/attributes'},
          }
        ]
      }
    }

  }
</script>


// essential link component
<template>
<!--  <q-item v-if="!sub_menues"-->
<!--          clickable-->
<!--          tag="a"-->
<!--          :to="link"-->
<!--  >-->
    <q-item clickable tag="a" :to="link">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon"/>
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label  caption>
       {{caption}}
      </q-item-label>
    </q-item-section>
  </q-item>

<!--  <div v-else>-->
    <!-- {{children}} -->
<!--    <q-expansion-item-->
<!--      expand-separator-->
<!--      :label="title"-->
<!--      :icon="icon"-->
<!--      :caption="caption"-->
<!--      default-closed>-->
<!--      <EssentialLink-->
<!--        v-for="(sub_menu,index) in sub_menues"-->
<!--        :key="index"-->
<!--        v-bind="sub_menu">-->
<!--      </EssentialLink>-->
<!--    </q-expansion-item>-->
<!--  </div>-->

</template>

<script>
  export default {
    name: 'EssentialLink',
    props: {
      title: {
        type: String,
        required: true
      },

      caption: {
        type: String,
         default: ''
      },

      link: {
        type: Object,
        required: true
      },

      icon: {
        type: String,
        default: ''
      }
      // sub_menues: {
      //   type: Array,
      //   required: false
      // }
    },
    methods: {

    }
  }
</script>

// routes.js

const routes = [
  {
    path: '/',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      // { path: '', component: () => import('pages/Index.vue') }
    ]
  },
  {
    path: '/categories',
    // name: 'categories',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/Categories/index') },
      { name: 'category', path: 'category', component: () => import('pages/Categories/Category.vue'), props: true }
    ]
  },
  {
    path: '/attributes',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/CategoryAttributes/index') },
       { name: 'attribute', path: 'attribute', component: () => import('pages/CategoryAttributes/Attribute.vue'), props: true }
    ]
  },
  // {
  //   path: '/category',
  //   name: 'categories-create',
  //   component: () => import('layouts/MainLayout.vue'),
  //   children: [
  //     { path: '', component: () => import('pages/Categories/CreateCategory') }
  //   ]
  // },

  // Always leave this as last one,
  // but you can also remove it
  {
    path: '*',
    component: () => import('pages/Error404.vue')
  }
]

export default routes



///Category Index
<template>
  <q-page padding>
    <div class="q-pa-md">
      <q-table
        title="Categories"
        :data="data"
        :columns="columns"
        :loading="isLoading"
        row-key="id"
        :pagination.sync="pagination"
        :filter="filter"
        @request="fetchCategories"
        ref="tblCategories"
      >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search"/>
          </template>
        </q-input>
      </template>
        <template v-slot:body-cell-actions='props'>
          <q-td :props='props'>
            <q-btn flat color="green" round icon="edit" size="sm" @click="editCategory(props.row)">
              <q-tooltip>Edit</q-tooltip>
            </q-btn>
            <q-btn flat color="red" round icon="delete" v-if="props.row.name!='uncategorized'" size="sm" @click="confirmDeletion(props.row)">
              <q-tooltip>Delete</q-tooltip>
            </q-btn>
<!--            <q-btn flat color="blue" round icon="more_vert" size="xs">-->
<!--              <q-tooltip>More</q-tooltip>-->
<!--              <q-menu transition-show="rotate"-->
<!--                      transition-hide="rotate">-->
<!--                <q-list style="min-width: 100px">-->
<!--                  <q-item clickable>-->
<!--                    <q-item-section @click="confirmDeletion(props.row)">-->
<!--                      Delete-->
<!--                    </q-item-section>-->
<!--                  </q-item>-->
<!--                </q-list>-->
<!--              </q-menu>-->
<!--            </q-btn>-->

          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="showDeleteConfirmation" persistent v-if="selectedCategory != null">
      <q-card>
        <q-toolbar class="bg-negative text-white">
          <q-avatar icon="delete" color="negative" text-color="white"/>
          <q-toolbar-title>Confirm Deletion</q-toolbar-title>
        </q-toolbar>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">Are you sure you want to delete Category <b>{{selectedCategory.name}}</b></span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="No" color="dark" v-close-popup v-if="!isDeleting"/>
          <q-btn flat label="Yes" color="negative" @click="deleteCategory"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-page-sticky position="bottom-right" :offset="[18, 18]" >
      <q-btn fab icon="add" color="accent" class="shadow-8" @click="$router.push({name: 'category'})"/>
    </q-page-sticky>
  </q-page>
</template>

<script>
  export default {
    name: 'Categories',
    data () {
      return {
        filter: '',
        pagination: {
          sortBy: null,
          descending: false,
          page: 1,
          rowsPerPage: 10,
          rowsNumber: 10,
          from: 1,
          to: 5
        },
        columns: [
          { name: 'name', align: 'left', label: 'Category Name', field: 'name', sortable: true },
          { name: 'created_at', label: 'Created At', field: 'created_at', sortable: true },
          { name: 'updated_at', label: 'Updated At', field: 'updated_at', sortable: true },
          {
            name: 'actions',
            required: false,
            label: 'Actions',
            align: 'right',
            sortable: false
          }
        ],
        data: [],
        selectedCategory: null,
        showDeleteConfirmation: false,
        isDeleting: false,
        isLoading:false

      }
    },
    methods: {

      fetchCategories: function (props) {
        this.isLoading=true;
        this.$axios.get('/api/categories',
          {
            params:
              {
                filter: props.filter,
                pagination: props.pagination
              }
          }).then(response => {
          console.log('Response ' + JSON.stringify(response))
          this.data = response.data.data
          this.pagination = response.data.pagination
          console.log('pagination : ' + response.data.pagination)
          this.isLoading=false;
        }).catch(error => console.log(error)).finally()
      },
      confirmDeletion: function(category) {
        this.selectedCategory = category
        this.showDeleteConfirmation = true
      },
      editCategory: function(category){
        console.log("the current category is"+category);

        this.$router.push({ name: 'category', params: { category: category } })

      },
      deleteCategory: function () {
         this.isLoading=true;
        this.$axios.delete(`/api/category/${this.selectedCategory.id}`).then(() => {
          this.showDeleteConfirmation = false
          this.selectedCategory = null
          this.$q.notify({
            message: 'Category has been deleted successfully!',
            icon: 'check_circle_outline'
          })
          this.$refs.tblCategories.requestServerInteraction()

        }).finally(() => {
          this.isLoading=false;
        })
      }

    },
    mounted () {
      this.fetchCategories({
        filter: this.filter,
        pagination: this.pagination
      })
    }
  }
</script>
// category create and edit
<template>
  <q-page padding>
    <div class="row">
      <div class="col-8 offset-2">
        <q-card>
          <q-card-section>
            <div class="text-h6">{{title}} Category</div>
            <br>

            <q-input outlined v-model="name" label="Category Name"/>
            <p v-if="this.errors!=null && this.errors.name"> {{this.errors.name[0]}}</p>
            <br>
            <q-input type="textarea" outlined v-model="description" label="Category Description"/>
            <br>
            <q-btn label="Submit" type="submit" color="primary" @click="submit"/>

          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
  export default {
    name: 'Pageexample',
    props:
      {
        category:{
          type:Object,
          default:null,
          required:false,
        }
      },
    data () {
      return {
        isEdit:false,
        errors: null,
        name: null,
        description: null
      }
    },
    methods: {
      resetFields: function () {
        this.name = null
        this.description = null
      },
      saveCategory: function () {
        this.$axios.post('/api/category/store',
          {
            name: this.name,
            description: this.description
          }).then(response => {
            this.resetFields()
            this.$q.notify({
              message: 'Category created successfully.',
              color: 'secondary'})
            this.$router.replace({ path: '/Categories' })
            console.log(response)
          }).catch(error => {
            this.errors = error.response.data.errors
            console.log('Errors ' + JSON.stringify(this.errors))
          }
        ).finally({})
      },
      updateCategory: function () {
        this.$axios.put('/api/category/'+this.category.id,
          {
            name: this.name,
            description: this.description,
          }
        ).then(response => {
          this.$q.notify({
            message: 'Category Updated successfully.',
            color: 'secondary'})
          this.$router.replace({ path: '/Categories' })

        }).catch(error => {
            this.errors = error.response.data.errors
            console.log('Errors ' + JSON.stringify(this.errors))
          }
        ).finally({})
      },
      submit:function()
      {
        if(this.isEdit!=true)
        {
          this.saveCategory()
        }
        else{
          this.updateCategory()
        }

      }
    },
    computed:
      {
        title: function () {
          return this.category !== null ? "Edit" : "Create";
        }
      },
    mounted(){
      console.log(this.category);
      if(this.category!=null)
      {
        this.isEdit=true;
        this.name=this.category.name;
        this.description=this.category.description;

      }
    },
  }
</script>
<style scoped>
  p {
    color: red;
  }
</style>

// Base Model
<?php

namespace App\Models;

use DateTimeInterface;
use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Model;

class BaseModel extends Model
{
    use HasFactory;
    protected function serializeDate(DateTimeInterface $date)
    {
        return $date->diffForHumans();
    }
}

//category Model
<?php

namespace App\Models;

use DateTimeInterface;
use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Model;

class Category extends BaseModel
{
    use HasFactory;
    protected $fillable = ['name', 'description'];

    public function attributes()
    {
        return $this->hasMany('App\Models\CategoryAttribute');
    }

    public function items()
    {
        return $this->hasMany('App\Models\Item');
    }

}

//base Collection
<?php

namespace App\Http\Resources;

use Illuminate\Http\Resources\Json\ResourceCollection;

class BaseCollection extends ResourceCollection
{
    /**
     * Transform the resource collection into an array.
     *
     * @param  \Illuminate\Http\Request  $request
     * @return array
     */
//    public function toArray($request)
//    {
//        return parent::toArray($request);
//    }
    public function toArray($request)
    {
        return [
            'data' => $this->getData($request),
            'pagination' => [
                'total' => $this->total(),
                'rowsNumber' => $this->total(),
                'rowsPerPage' => $this->perPage(),
                'page' => $request->input("pagination.page"),
                'total_pages' => $this->lastPage(),
                'from' => $this->firstItem(),
                'to' => $this->lastItem(),
                "sortBy" => $request->input("pagination.sortBy"),
                "descending" => $request->input("pagination.descending")
            ],
        ];
    }

    public function withResponse($request, $response)
    {
        $jsonResponse = json_decode($response->getContent(), true);
        unset($jsonResponse['links'],$jsonResponse['meta']);
        $response->setContent(json_encode($jsonResponse));
    }

    public function getData($requset)
    {
        return $this->collection;
    }
}


// category Collection
<?php

namespace App\Http\Resources;

use Illuminate\Http\Resources\Json\ResourceCollection;

class CategoryCollection extends BaseCollection
{
    /**
     * Transform the resource collection into an array.
     *
     * @param  \Illuminate\Http\Request  $request
     * @return array
     */

    public function toArray($request)
    {
        return parent::toArray($request);
    }
}
//controller
<?php

namespace App\Http\Controllers;

use Illuminate\Foundation\Auth\Access\AuthorizesRequests;
use Illuminate\Foundation\Bus\DispatchesJobs;
use Illuminate\Foundation\Validation\ValidatesRequests;
use Illuminate\Http\Request;
use Illuminate\Routing\Controller as BaseController;

class Controller extends BaseController
{
    use AuthorizesRequests, DispatchesJobs, ValidatesRequests;

    public function paginatedIndex(Request $request, $query)
    {
        $pagination = json_decode($request->input('pagination'));


        $pagination->per_page = $pagination->rowsPerPage;
        $pagination->current_page = $pagination->page;

        $request->merge([
            "pagination" => $pagination,
            "page" => $pagination->page
        ]);

        if ($request->filled("pagination.sortBy")) {
            $dir = $request->boolean("pagination.descending", false) ? "desc" : "asc";
            $sortBy = $request->input("pagination.sortBy");

            $query->orderBy($sortBy, $dir);
        }

        if ($request->filled("filter")) {
            $terms = $request->input("filter");
            $this->applySearchFilters($query, $terms);
        }

        $records = $query->paginate($request->input("pagination.rowsPerPage"));

        return $this->toPaginatedResponse($records);
    }

    protected function applySearchFilters(&$query, $terms)
    {

    }

    protected function toPaginatedResponse($records)
    {
        return $records;
    }
}


//Category Controller

<?php

namespace App\Http\Controllers;

use App\Http\Requests\CategoryRequest;
use App\Http\Resources\CategoryCollection;
use App\Models\Category;
use Illuminate\Http\Request;

class CategoryController extends Controller
{
    public function index(Request $request)
    {
        return parent::paginatedIndex($request, Category::query());
    }

    protected function applySearchFilters(&$query, $terms)
    {
        $query->where("name", "like", "%$terms%");
    }

    protected function toPaginatedResponse($records)
    {
        return new CategoryCollection($records);
    }

   public function fetchCategories()
   {
       $categories = Category::all();
       $data = [];
       foreach ($categories as $category) {
           $data[] = [
               'label' => $category->name,
               'value' => $category->id,
           ];
       }
       return json_encode([
           'data' => $data
       ]);

   }
    public function store(CategoryRequest $request)
    {
        $category = new Category();
        $category->fill($request->all());
        $category->save();
    }
    public function delete($id)
    {
        $contact = Category::findOrFail($id);
        $contact->delete();
    }
    public function update(CategoryRequest $request, $id)
    {

        $category = Category::findOrFail($id);
        $category->update($request->all());
    }

}


//Category Attribute Collection
<?php

namespace App\Http\Resources;

use App\Enums\InputTypes;
use Illuminate\Http\Resources\Json\ResourceCollection;

class CategoryAttributeCollection extends BaseCollection
{
    /**
     * Transform the resource collection into an array.
     *
     * @param \Illuminate\Http\Request $request
     * @return array
     */
    public function toArray($request)
    {
        $this->collection->each(function ($item) {
            $item->category_name = $item->category->name;
            $item->typeIndex=InputTypes::findTypeName($item->type);
        });
        return parent::toArray($request);
    }
}

// item create and delete

<template>
  <q-page padding>
    <div class="row">
      <div class="col-8 offset-2">
        <q-card>
          <q-card-section>
            <div class="text-h6">{{title}} Item</div>
            <q-input outlined type="text" v-model="name" label="Item Name"/>
            <br>
            <q-select
              clearable
              class="q-mb-md"
              outlined
              v-model="category"
              label="Select Category"
              use-input
              :options="categories"
              @input="fetchAttributes"
            />
            <div v-for="(attribute, index) in attributes" :key="index" >
              <br>
              <q-input v-if="attribute.type==1" type="text" v-model="attribute_name[index]"
                       @input="addAttribute(attribute.id,attribute_name[index],attribute.type)" :label="attribute.name"
                       outlined/>
              <q-input v-if="attribute.type==2" type="textarea"
                       @input="addAttribute(attribute.id,attribute_desc[index],attribute.type)" v-model="attribute_desc[index]"
                       :label="attribute.name"
                       outlined/>
              <q-input v-if="attribute.type==3" type="time" @input="addAttribute(attribute.id,attribute_time[index],attribute
              .type)"
                       v-model="attribute_time[index]" :label="attribute.name"
                       outlined>

              </q-input>
              <q-input v-if="attribute.type==4" type="date"
                       @input="addAttribute(attribute.id,attribute_datetime[index],attribute.type)" v-model="attribute_datetime[index]"
                       :label="attribute.name" outlined>
              </q-input>
              <q-input v-if="attribute.type==5" type="number"
                       @input="addAttribute(attribute.id,attribute_number[index],attribute.type)" v-model="attribute_number[index]"
                       :label="attribute.name"
                       outlined/>
              <q-select
                clearable
                class="q-mb-md"
                outlined
                @input="addAttribute(attribute.id,attribute_select[index],attribute.type)"
                v-model="attribute_select[index]"
                v-if="attribute.type==7"
                :label="attribute.name"
                :options="JSON.parse(attribute.options)"
              />
            </div>
            <q-btn label="Save Item" type="submit" color="primary" @click="saveItem"/>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>
<script>
  export default {
    props:
      {
        item: {
          type: Object,
          default: null,
          required: false,
        }
      },
    data() {
      return {
        attribute_name: [],
        attribute_desc: [],
        attribute_time: [],
        attribute_datetime: [],
        attribute_number: [],
        attribute_select: [],
        name: null,
        category: null,
        categories: [],
        selectedCategory: null,
        attributes: [],
        attributesValues:[],
        actual_attributes: [],
        isEdit: false,
      }
    },
    computed:
      {
        title: function () {
          return this.item !== null ? "Edit" : "Create";
        }
      },
    methods: {
      fetchCategories: function () {
        this.$axios.get('/api/fetchcategories').then(response => {
          this.categories = response.data.data;
          if (this.isEdit != false) {
            console.log("fetching categories ")
            this.category = this.categories.find(e => e.value == this.item.category_id)
            console.log("Category " + JSON.stringify(this.category))
          }
        }).catch(error => console.log(error)).finally()
      },
      fetchAttributes: function () {
        this.selectedCategory = this.category != null ? this.category.value : null
        console.log('selected input type is', this.selectedCategory);
        this.$axios.get('/api/categoryattribute/' + this.selectedCategory).then(response => {
          console.log('Response of attributes ' + JSON.stringify(response))
          this.attributes = response.data.attributes;
          console.log('Response of attributes ' + JSON.stringify(this.attributes))
        }).catch(error => console.log(error)).finally()
      },
      addAttribute: function (id, value, type) {
        console.log("ID " + id + " Value " + value)
        if (type == 7 || type == 8) {
          value = value.label;
        }
        var index = this.actual_attributes.findIndex(e => e.id == id);
        console.log("Index " + index)
        if (index != -1) {
          this.actual_attributes.splice(index, 1);
        }
        this.actual_attributes.push({id: id, value: value,type:type});
        console.log("Attributes " + JSON.stringify(this.actual_attributes));
        //attributes.push({value:this.attribute_nam})
      },
      saveItem: function () {
        console.log('the actual attributes is', JSON.stringify(this.actual_attributes));
        this.$axios.post('/api/item/store',
          {
            name: this.name,
            category: this.category.value,
            actual_attributes: JSON.stringify(this.actual_attributes),
          }).then(response => {
          // this.resetFields()
          this.$q.notify({
            message: 'Item created successfully.',
            color: 'secondary'
          })
          // this.id = response.data.attribute.id;
          // console.log("the id is", this.id);
          this.$router.replace({path: '/items'})
          console.log(JSON.stringify(response.data.attributes))
        }).catch(
          // error => {
          //   this.errors = error.response.data.errors
          //   console.log('Errors ' + JSON.stringify(this.errors))
          // }
        ).finally({})
      }
    },

    mounted() {
      this.fetchCategories()
      if (this.item != null) {
        console.log("the curremt item is"+JSON.stringify(this.item))
        this.isEdit = true;
        this.name = this.item.name;
        setTimeout(() => {
          this.fetchAttributes();
        }, 500)
      }

    }

  }
</script>
<style scoped>
  p {
    color: red;
  }
</style>


/// routes file
const routes = [
  {
    path: '/',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      // { path: '', component: () => import('pages/Index.vue') }
    ]
  },
  {
    path: '/dashboard',
    // name: 'categories',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/Dasboard/Index.vue') },
    ],
    meta:{authOnly:true}
  },
  {
    path: '/categories',
    // name: 'categories',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/Categories/Index') },
      { name: 'category', path: 'category', component: () => import('pages/Categories/Category.vue'), props: true }
    ],
    meta:{authOnly:true}
  },
  {
    path: '/attributes',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/CategoryAttributes/Index') },
      { name: 'attribute', path: 'attribute', component: () => import('pages/CategoryAttributes/Attribute.vue'), props: true }
    ],
    meta:{authOnly:true}
  },
  {
    path: '/items',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/Items/Index') },
      { name: 'item', path: 'item', component: () => import('pages/Items/Item.vue'), props: true }
    ],
    meta:{authOnly:true}
  },
  {
    path: '/login',
    component: () => import('pages/Auth/Login.vue'),
    children: [
      // { path: '', component: () => import('pages/Index.vue') }
    ]
  },
  {
    path: '/register',
    component: () => import('pages/Auth/Register.vue'),
    children: [
      // { path: '', component: () => import('pages/Index.vue') }
    ]
  },
  // {
  //   path: '/category',
  //   name: 'categories-create',
  //   component: () => import('layouts/MainLayout.vue'),
  //   children: [
  //     { path: '', component: () => import('pages/Categories/CreateCategory') }
  //   ]
  // },

  // Always leave this as last one,
  // but you can also remove it
  {
    path: '*',
    component: () => import('pages/Error404.vue')
  }
]


export default routes


// in index.js of router.js

import Vue from 'vue'
import VueRouter from 'vue-router'

import routes from './routes'

Vue.use(VueRouter)

/*
 * If not building with SSR mode, you can
 * directly export the Router instantiation;
 *
 * The function below can be async too; either use
 * async/await or return a Promise which resolves
 * with the Router instance.
 */

export default function (/* { store, ssrContext } */) {
  const Router = new VueRouter({
    scrollBehavior: () => ({ x: 0, y: 0 }),
    routes,

    // Leave these as they are and change in quasar.conf.js instead!
    // quasar.conf.js -> build -> vueRouterMode
    // quasar.conf.js -> build -> publicPath
    mode: process.env.VUE_ROUTER_MODE,
    base: process.env.VUE_ROUTER_BASE
  })
  function loggedIn()
{
  return localStorage.getItem("uat");
}
Router.beforeEach((to, from, next) => {
  if (to.matched.some(record => record.meta.authOnly)) {
    // this route requires auth, check if logged in
    // if not, redirect to login page.
    if (!loggedIn()) {
      next({
        path: '/login',
        query: { redirect: to.fullPath }
      })
    } else {
      next()
    }
  } else {
    next() // make sure to always call next()!
  }
})
  return Router
}


// Techsphere

//pie chart and bar chart

<template>
  <div class="content-margins main-body pt-0" style="margin-top: -70px">
    <div class="date-selector">
      <p class="fa fa-caret-left" style="margin: 0" @click="decreaseDate"></p>
      <p style="margin: 0">{{ date }}</p>
      <p class="fa fa-caret-right" style="margin: 0" @click="increaseDate"></p>
    </div>
    <div v-if="!loading" class="display-flex">
      <food-list/>
      <macros/>
    </div>
  </div>
</template>

<script>
import FoodList from "./food-list";
import Macros from "./macros";
import {mapActions, mapState} from "vuex";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment';

export default {
  name: "nutrition",
  components: {Macros, FoodList, DatePicker},
  data() {
    return {
      loading: true,
      nutrients: [],
      nutrientsVals: [],
      date: new moment().format('MMM DD, YYYY'),
      dayCounter: 0
    }
  },
  created() {
    let memberId = this.fetchMemberId();
    this.$store.commit('setMemberId', memberId);
    this.getNutritionSummary().then(() => {
      this.loading = false
    })
  },
  computed: {
    ...mapState(['start_date', 'end_date'])
  },
  methods: {
    ...mapActions(['getNutritionSummary']),
    fetchMemberId() {
      let path = window.location.pathname;
      if (path.includes('nutrition')) {
        let regex = /^\/clients\/(\d+)\/nutrition/i;
        let match = path.match(regex);
        if (match[1]) {
          return Number(match[1]);
        }
      }
    },
    decreaseDate() {
      this.dayCounter++;
      let today = new moment(this.date);
      today.subtract(this.dayCounter, "days");
      this.date = today.format('MMM DD, YYYY');
      this.dayCounter = 0;
    },
    increaseDate() {
      let today = new moment(this.date);
      today.add(1, "days");
      this.date = today.format('MMM DD, YYYY');
    }
  },
  watch: {
    date(val) {
      this.loading = true
      this.$store.commit('setStartDate',new Date(this.date));
      this.$store.commit( 'setEndDate' ,new Date(this.date));
      this.getNutritionSummary().then(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>

</style>
































</body>
</html>


if there are two jugs of water that is 3 liter and 5 liter and we want only 4 liter water using this two jugs how we can do this.
----Answer
first we put water in five liter jug and fill it completely with water and then put water from this jug to 3 liter jug now the 5 liter jug has 2 liter water in it  and waste all the water of  
3 liter jug now 5 liter jug has 2 liter water in it now put this water into 3 liter jug now the 3 liter jug has 2 liter water now again fill the 5 liter jug and put the one liter water from five liter jug to 3 liter jug and the remaing water is 4 liter.

















<template>
  <div v-if="IhaveAccess">
    <h1>Umar Hayat</h1>
    <!-- <vtable :view="view" />
    <vfilters :view="view" /> -->
    <label>First Name</label>
    <input type="text" v-model="form.name">
    <label>address</label>
    <input type="text" v-model="form.address">
    <label>Roll No</label>
    <input type="text" v-model="form.roll_no">
    <label>Password</label>
    <input type="password" v-model="form.password">
    <button @click="save">save Form</button>
    <span v-if="defaultForms[view.id]"
      ><formContainer :componentName="defaultForms[view.id]"
    /></span>

    <template v-for="action in defaultActions[view.id]">
      <actionsContainer :componentName="action.template" />
    </template>
  </div>
</template>

<script>
import formContainer from "@/components/forms/container";
import actionsContainer from "@/components/actions/container";
import vtable from "@/components/system/views/vtable";
import vfilters from "@/components/system/views/vfilters";
export default {
  components: { formContainer, vtable, vfilters, actionsContainer },
  beforeMount() {},
  computed: {
    IhaveAccess() {
      if (this.IhaveRole("1")) {
        return true;
      }
      var urls = [];
      var apps = this.myApps;
      Object.keys(apps).map((key) => {
        var menus = apps[key].menus;
        menus.map((menu) => urls.push(menu.url));
      });
      if (urls.indexOf(this.$route.path) > -1) {
        return true;
      }
      return false;
    },
  },
  data() {
    return {
      form:{
        name:'',
        address:'',
        roll_no:'',
        password:''
      },
      canAccess: false,
      view: { id: this.$route.params.id },
    };
  },
  methods:{
    save()
    {
      this.db('modifyNode',{newItem:{
        practice_name:this.form.name,
        practice_address:this.form.address,
        practice_roll_no:this.form.roll_no,
        
      },model:'practice'}).
      then((result)=>{
         alert('form submitted successfully');
      })
      console.log(this.form);
    }
  }
};
</script>
