<html>
<head></head>
<body>
   8.42.1
   namespace App\Http\Controllers;

use App\Http\Requests\EditUserRequest;
use App\Http\Requests\UserRequest;
use App\Models\Role;
use App\Models\User;
use Illuminate\Http\Request;
use Illuminate\Support\Facades\Auth;
use Illuminate\Support\Facades\Hash;
use PhpParser\Node\Stmt\Foreach_;
   
   //store user request
   <?php

namespace App\Http\Requests;

use Illuminate\Foundation\Http\FormRequest;

class UserRequest extends FormRequest
{
    /**
     * Determine if the user is authorized to make this request.
     *
     * @return bool
     */
    public function authorize()
    {
        return true;
    }

    /**
     * Get the validation rules that apply to the request.
     *
     * @return array
     */
    public function rules()
    {
        return [
            //
            'name' => 'required|string|max:255',
            'email' => 'required|string|email|max:255|unique:users',
            'password' => 'string|min:8|confirmed',
            'role'=>'required|min:1',
            'password_confirmation'=>'min:8'
        ];
    }
}

   //edit user 
   public function rules()
    {
        return [
            //
            'name' => 'required|string|max:255',
            'email' => 'required|string|email|max:255',
            'password' => 'string|min:8|confirmed|nullable|confirmed',
            'role'=>'required',
            'password_confirmation'=>'min:8|nullable|same:password'
        ];
    }

Route::group(['middleware' => 'role:admin|super_admin|author'], function() {

    Route::GET('/admin', [AdminController::class, 'index'])->name('admin.index');
// admin categories
    Route::GET('/admin/categories', [CategoriesController::class, 'index'])->name('admin.categories.index')->middleware(['permission:can_view_categories']);
    Route::GET('/admin/category/create', [CategoriesController::class, 'create'])->name('admin.categories.create')->middleware(['permission:can_add_categories']);
    Route::POST('/admin/category', [CategoriesController::class, 'store'])->name('admin.categories.store');
    Route::GET('/admin/category/{id}/edit', [CategoriesController::class, 'edit'])->name('admin.categories.edit')->middleware(['permission:can_edit_categories']);
    Route::PUT('/admin/category/{id}', [CategoriesController::class, 'update'])->name('admin.categories.update');
    Route::Delete('/admin/category/{id}', [CategoriesController::class, 'delete'])->name('admin.categories.delete')->middleware(['permission:can_delete_categories']);
    Route::GET('/search/category',[CategoriesController::class, 'searchCategory'])->name('categories.search');

//admin posts

    Route::GET('/admin/posts', [PostsController::class, 'index'])->name('admin.posts.index')->middleware(['permission:can_view_posts']);
    Route::GET('/admin/post/create', [PostsController::class, 'create'])->name('admin.posts.create')->middleware(['permission:can_add_posts']);
    Route::POST('/admin/post', [PostsController::class, 'store'])->name('admin.posts.store');
    Route::GET('/admin/post/{id}/edit', [PostsController::class, 'edit'])->name('admin.posts.edit')->middleware(['permission:can_edit_posts']);
    Route::PUT('/admin/post/{id}', [PostsController::class, 'update'])->name('admin.posts.update');
    Route::Delete('/admin/post/{id}', [PostsController::class, 'delete'])->name('admin.posts.delete')->middleware(['permission:can_delete_posts']);
    Route::GET('/search/post',[PostsController::class, 'searchPost'])->name('posts.search');
//Admin Users
    Route::GET('/admin/users',[UserController::class,'index'])->name('admin.users.index')->middleware(['permission:can_view_users']);
    Route::GET('/admin/user/create', [UserController::class, 'create'])->name('admin.users.create')->middleware(['permission:can_add_users']);
    Route::POST('/admin/user', [UserController::class, 'store'])->name('admin.users.store');
    Route::GET('/admin/user/{id}/edit', [UserController::class, 'edit'])->name('admin.users.edit')->middleware(['permission:can_edit_users']);
    Route::PUT('/admin/user/{id}', [UserController::class, 'update'])->name('admin.users.update');
    Route::Delete('/admin/user/{id}', [UserController::class, 'delete'])->name('admin.users.delete')->middleware(['permission:can_delete_users']);
    Route::GET('/admin/user/{id}',[UserController::class,'show'])->name('admin.users.show')->middleware(['permission:can_view_users']);
    Route::GET('/search/user',[UserController::class, 'searchUser'])->name('users.search');

});

//show post by category
//Route::GET("/category/{id}/posts");
Route::GET('/category/{id}/posts',[PostsController::class,'showByCategory'])->name('category.post.show');



//quasar 

main layout
<template>
  <q-layout view="hHh lpR ffr">
    <q-header elevated class="text-light">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title @click="$router.replace('/')" style="cursor: pointer">
        Inventory System
        </q-toolbar-title>

<!--        <div ref="logout" style="cursor: pointer">-->
<!--          <span>Welcome {{ name }}</span>-->
<!--          <br/>-->
<!--          <div class="text-center"><span v-if="isBusinessUser"> {{businessName}}</span></div>-->
<!--          <q-menu :target="$refs.logout">-->
<!--            <div class="row no-wrap q-pa-md">-->
<!--              <div class="col-md-12">-->
<!--                <q-btn flat label="My Account" icon="person" @click="editProfile"/>-->
<!--                <q-btn flat label="Logout" icon="logout" @click="logout"/>-->
<!--              </div>-->
<!--            </div>-->
<!--          </q-menu>-->
<!--        </div>-->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          MAIN MENU
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import EssentialLink from 'components/EssentialLink.vue'
  export default {
    name: 'MainLayout',
    components: { EssentialLink },
    data () {
      return {
        leftDrawerOpen: false,
        essentialLinks: [
          {
            title: 'Categories',
            icon: 'widgets',
            link: { path: '/categories' },
          },
          {
            title:'Attributes',
            icon:'widgets',
            link:{path:'/attributes'},
          }
        ]
      }
    }

  }
</script>


// essential link component
<template>
<!--  <q-item v-if="!sub_menues"-->
<!--          clickable-->
<!--          tag="a"-->
<!--          :to="link"-->
<!--  >-->
    <q-item clickable tag="a" :to="link">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon"/>
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label  caption>
       {{caption}}
      </q-item-label>
    </q-item-section>
  </q-item>

<!--  <div v-else>-->
    <!-- {{children}} -->
<!--    <q-expansion-item-->
<!--      expand-separator-->
<!--      :label="title"-->
<!--      :icon="icon"-->
<!--      :caption="caption"-->
<!--      default-closed>-->
<!--      <EssentialLink-->
<!--        v-for="(sub_menu,index) in sub_menues"-->
<!--        :key="index"-->
<!--        v-bind="sub_menu">-->
<!--      </EssentialLink>-->
<!--    </q-expansion-item>-->
<!--  </div>-->

</template>

<script>
  export default {
    name: 'EssentialLink',
    props: {
      title: {
        type: String,
        required: true
      },

      caption: {
        type: String,
         default: ''
      },

      link: {
        type: Object,
        required: true
      },

      icon: {
        type: String,
        default: ''
      }
      // sub_menues: {
      //   type: Array,
      //   required: false
      // }
    },
    methods: {

    }
  }
</script>

// routes.js

const routes = [
  {
    path: '/',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      // { path: '', component: () => import('pages/Index.vue') }
    ]
  },
  {
    path: '/categories',
    // name: 'categories',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/Categories/index') },
      { name: 'category', path: 'category', component: () => import('pages/Categories/Category.vue'), props: true }
    ]
  },
  {
    path: '/attributes',
    component: () => import('layouts/MainLayout.vue'),
    children: [
      { path: '', component: () => import('pages/CategoryAttributes/index') },
       { name: 'attribute', path: 'attribute', component: () => import('pages/CategoryAttributes/Attribute.vue'), props: true }
    ]
  },
  // {
  //   path: '/category',
  //   name: 'categories-create',
  //   component: () => import('layouts/MainLayout.vue'),
  //   children: [
  //     { path: '', component: () => import('pages/Categories/CreateCategory') }
  //   ]
  // },

  // Always leave this as last one,
  // but you can also remove it
  {
    path: '*',
    component: () => import('pages/Error404.vue')
  }
]

export default routes



































</body>
</html>
